<div class="row h-100 w-100">
  <div class="col-md-6" style="background-color: #f7f9fb">
      <div class="row h-100 w-100">
        <div class="col-md-6 my-auto mx-auto">
          <mat-card class="example-card">
            <div class="row ">
                <div class="col-sm-4 mx-auto">
                    <div mat-card-avatar class="example-header-image m-auto"></div>
                </div>
            </div>
            <mat-card-title style="padding: 10px; font-size: 28px;">Login</mat-card-title>
            <mat-card-subtitle style="padding-left: 10px;">Sign in with your credentials below.</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
                <form  class="example-form" style="padding-top: 20px;">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <mat-icon matSuffix>person</mat-icon>
                        <input type="text" formControlName="username" matInput placeholder="" required>
                    </mat-form-field>
                    <mat-form-field class="example-form" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        
                    </mat-form-field>
                    <div class="row">
                        <div class="col">
                            <mat-checkbox class="caption float-left" color="primary">Remember Me</mat-checkbox>
                        </div>
                        <div class="col">
                            <a  class="float-right">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button class="example-form" mat-raised-button color="primary" >SIGN IN</button>
            </mat-card-actions>
            <mat-card-footer>
                <p class="text-secondary text-center">
                    Don't have an account?<br/>
                    <a href="/">Click here to create one</a>
                </p>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    
  </div>
  <div class="col-sm-6 .d-none .d-sm-block .d-sm-none .d-md-block" style="padding: 0%">
    <div class="carousel-bg">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/bg_2.jpg" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/bg_3.jpg" alt="Random second slide" />
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
